<div class="alert alert-danger">
  <h3><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h3>
  <ul>
    <% @course.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>